@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Roboto Slab";
}
html {
    scroll-behavior: smooth;
}

body{
    height:600vh;
    display: flex;
    flex-direction: column;
}

/* nav bar section */
.navbar{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 2%;
    padding: 10px 20px;
    align-items: center;
    justify-content: space-around;
    border-bottom: 0.5px solid #2e2f2e17;
    position: sticky;
    top: 0;
    z-index: 1;

}
.logo-area{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #0DB75F;
    font-weight:900;

}
.logo-area img{
    width: 25%;
    height:100%;
}
.nav-link{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.nav-link a{
    text-decoration: none;
    font-size: 99%;
    color:#2E2F2E;
    padding: 10px 15px;
    transition: 0.45s ease-in;
    
}
.nav-link a:hover{
    background-color: #0DB75F;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.378);
    color: white;
    font-weight: 600;
}
.nav-btn{
    width:10%;
    height: 70%;
    border: 2px solid #0DB75F;
    border-radius:5px;
}
.nav-btn:hover{
    cursor: pointer;
    background-color: #0DB75F;
    color: white;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.362);
    transition: 0.50s ease-in-out;
    font-weight: 900;
}
.nav-btn a {
    text-decoration: none;
    color: #2E2F2E;
    font-size: 1rem;
}
.nav-btn:hover a{
    color: white;
}
.brightness{
    cursor: pointer;
    font-size: 1rem;
}

/* personal information section */

.hero-area{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15%;
    padding: 5%;
    justify-content: space-between;

}
.hero-left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 8% 2%;
    justify-content: space-between;
}
.hero-left h5{
    color: #0DB75F;
    font-weight: 900;
}
.hero-left h1 span{
    color: #0DB75F;
}
.hero-left h1{
    font-size: 2.8rem;
}
.hero-left h4{
    color:#2E2F2E;
}
.contact-link{
     display: flex;
     flex-direction: row;
     width: 30%;
     height: 20%;
     align-items: center;
     justify-content: space-around;
}
.contact-link i{
    font-size: 1.5rem;
    color: #2E2F2E;
    
}
.contact-link i:hover{
    cursor: pointer;
    color: #0DB75F;
    transition: 0.45s ease-in-out;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.256);
}
.hero-btns{
    width: 50%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}
.hero-btns button{
    width: 45%;
    height: 90%;
    border: 2px solid #0DB75F;
    border-radius: 5px;
    font-size: 0.9rem;
    cursor: pointer;
}
.btn-one{
     background-color: #0DB75F;
     color: white;
     font-weight: 600;
     box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.281);
}
.btn-one:hover{
    background-color: white;
    color: #2E2F2E;
    border: 2px solid #0DB75F;
    transition: 0.45s ease-in-out;
}
.btn-two{
    color: #2E2F2E;
    font-weight: 600;
}
.btn-two:hover{
    background-color: #0DB75F;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.281);
    color:white;
    transition: 0.45s ease-in-out;
}
.hero-right{
    width: 40%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inner-box{
    width: 65%;
    height: 80%;
    background-color: #0DB75F;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 5px 10px #0db75f58;
    
    
}
.inner{
    width: 93%;
    height: 93%;
    background: url("./img/hero.jpg");
    background-position: center;
    background-size: cover;

}
.outer-box{
    position: absolute;
    width: 65%;
    height: 80%;
    border:10px double #1b0db7;
    box-shadow: 2px 2px 4px 6px #2e2f2e4e;
    animation: circle 11s infinite;
}
.outer-in-box{
    position: absolute;
    width: 65%;
    height: 80%;
    border:10px double #b70dac;
    box-shadow: 2px 2px 4px 6px #2e2f2e4e;
    animation: circle 17s infinite;
}

@keyframes circle{
    
    0%{
        transform: rotate(0deg);
        opacity: 1;
    }
    100%{
        transform: rotate(360deg);
        opacity: 0;
    }
}


/* certificate  count*/

.count-section{
    width: 100%;
    height: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.fullstack-project-count{
    width:15%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #2e2f2e40;
}

.ui-ux-project-count{
    width:15%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #2e2f2e40;
}
.certificate-count{
    width:15%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #2e2f2e40;
}
.intern-count{
    width:15%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.count-section h2{
      font-size: 2rem;
      color:#0DB75F;
}
.count-section h4{
    color: #2E2F2E;
}


/* about us section */


.about-us-section{
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}


.about-left{
    width: 40%;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows:repeat(5,1fr);
    gap: 3%;
}

.about-left-one{
    columns: 1;
    grid-row:span 5;
    background:linear-gradient(#0db721,#4cc9ef,#0DB75F);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    box-shadow: 1px 1px 1px 5px #e1f7f0;
    
}
.image1{
    width: 90%;
    height: 95%;
    background: url("./img/about-image1.jpg");
    background-position: center;
    background-size: cover;
}
.about-left-two{
    columns: 2;
    grid-row:span 3;
    background:linear-gradient(#0db721,#4cc9ef,#0DB75F);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    box-shadow: 1px 1px 1px 5px #e1f7f0;
    
}
.image2{
    width: 90%;
    height: 95%;
    background: url("./img/about-image2.jpg");
    background-position: center;
    background-size: cover;
}
.about-left-three{
    columns: 2;
    grid-row:span 2;
    background:linear-gradient(#0db721,#4cc9ef,#0DB75F);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    box-shadow: 1px 1px 1px 5px #e1f7f0;
}
.image3{
    width: 90%;
    height: 95%;
    background: url("./img/hero\ -\ Copy.jpg");
    background-position: center;
    background-size: cover;
}
.about-right{
    width: 40%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
   
}
.about-us-section:hover .about-right {
    animation: came 1s linear;
  }

.about-us-section:hover .about-left-one {
        animation: spin1 1s linear;
  }

.about-us-section:hover .about-left-two {
    animation: spin2 1s linear;
}
.about-us-section:hover .about-left-three {
    animation: spin3 1s linear;
}
  
  /* Define the animation */
  @keyframes came {
    0% {
      opacity: 0;
      transform: translateX(50%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }


  @keyframes spin1 {
    0% {
      opacity: 0;
      transform: translateX(-50%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes spin2 {
    0% {
      opacity: 0;
      transform: translateY(-50%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes spin3 {
    0% {
      opacity: 0;
      transform: translateY(50%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

.about-title{
    color: #0DB75F;
    font-weight: 600;
}
.about-paragraph{
    width: 30vw;
    color: #2E2F2E;
    text-align: justify;
}
.about-btn{
    width: 23%;
    height: 10%;
    font-size: 1rem;
    border-radius: 5px;
    background-color: #0DB75F;
    color: white;
    border: none;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.247);
}

.about-btn:hover{
    border: 3px solid #0DB75F;
    background-color: white;
    color: #2E2F2E;
}




/* Skills section */

.skill-section{
    height: 16%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.skill-title{
    height: 7%;
    text-align: center;
    color: #2E2F2E;
    color: #0DB75F;
    font-size: 2rem;
}
.skill-section:hover .skill-title{
    animation: trans 1s linear;
}
@keyframes trans{
    0%{
        opacity:0;
        transform: translateY(-100%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
.skill-container{
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2%;
    padding: 2% 5%;
}
.skill-section:hover .skill-one{
    animation: moving 2s linear;
}
.skill-section:hover .skill-two{
    animation: moving 2s linear;
}
.skill-section:hover .skill-three{
    animation: moving 2s linear;
}
.skill-section:hover .skill-four{
    animation: moving 2s linear;
}
.skill-section:hover .skill-five{
    animation: moving 2s linear;
}
.skill-section:hover .skill-six{
    animation: moving 2s linear;
}

@keyframes moving{
    0%{
        transform: translateX(-100%);

    }
    100%{
        transform: translateX(0);
    }
}

.skill-section:hover .skill-seven{
    animation: moving1 2s linear;
}
.skill-section:hover .skill-eight{
    animation: moving1 2s linear;
}
.skill-section:hover .skill-nine{
    animation: moving1 2s linear;
}
.skill-section:hover .skill-ten{
    animation: moving1 2s linear;
}
.skill-section:hover .skill-ten-1{
    animation: moving1 2s linear;
}

@keyframes moving1{
    0%{
        transform: translateX(100%);

    }
    100%{
        transform: translateX(0);
    }
}
.skill{
   width: 15%;
   height: 45%;
   background-color: #4cc9ef;
}
.skill-one{
    background: url("./img/html.png");
    background-position: center;
    background-size: cover;
}

.skill-two{
    background: url("./img/css.png");
    background-position: center;
    background-size: cover;
}
.skill-three{
    background: url("./img/js.png");
    background-position: center;
    background-size: cover;
}

.skill-four{
    background: url("./img/react.png");
    background-position: center;
    background-size: cover;
}
.skill-five{
    background: url("./img/node.png");
    background-position: center;
    background-size: cover;
}
.skill-six{
    background: url("./img/mongodb.png");
    background-position: center;
    background-size: cover;
}
.skill-seven{
    background: url("./img/java.png");
    background-position: center;
    background-size: cover;
}
.skill-eight{
    background: url("./img/figma.png");
    background-position: center;
    background-size: cover;
}
.skill-nine{
    background: url("./img/canva.png");
    background-position: center;
    background-size: cover;
}
.skill-ten{
    background: url("./img/cpp.png");
    background-position: center;
    background-size: cover;
}
.skill-ten-1{
    background: url("./img/python.png");
    background-position: center;
    background-size: cover;
}
.skill-button{
    width: 10%;
    height: 8%;
    font-size: 1.2rem;
    border: none;
    background-color: #0DB75F;
    border-radius: 5px;
    font-weight: 500;
    color: white;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.255);
}
.skill-button:hover{
    border: 3px solid #0DB75F;
    background-color: white;
    color:#2E2F2E;
    transition: 0.45s ease-in-out;
}




/* internship section */

.intership-section{
    height: 15%;
    display: flex;
    flex-direction: column;
    padding: 2%;
    align-items: center;
    justify-content: space-around;
    gap: 2%;
}
.intern-one{
    width: 90%;
    height: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 5%;
    padding: 1%;
}
.intership-section h1{
    color: #0DB75F;
    font-size: 1.7rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.195);
}
.intern-btn{
    width: 10%;
    height: 10%;
    background-color: #0DB75F;
    border: none;
    color: white;
    font-size: 1.2rem;
    border-radius: 5px;
    font-weight: 600;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.208);
}
.intern-btn:hover{
        border: 3px solid #0DB75F;
        background-color: white;
        color:#2E2F2E;
        transition: 0.50s ease-in-out;
    
}
.intern-one-img{
    width: 30%;
    height: 95%;
    background: url("./img/intern2.png");
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    border: 10px solid #0DB75F;
    
}
.intership-section:hover .intern-one-img{
    animation: about_move1 1s linear;
}
.intership-section:hover .intern-two-img{
    animation: about_move2 1s linear;
}
.intership-section:hover .intern-one-paragraph{
    animation: about_move2 1s linear;
}
.intership-section:hover .intern-two-paragraph{
    animation: about_move1 1s linear;
}
.intership-section:hover h1{
    animation: trans 1s linear;
}
.intern-one-paragraph{
    width: 50%;
    height: 95%;
    text-align: center;
}

.intern-two{
    width: 90%;
    height: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 5%;
    padding: 1%;
}
.intern-two-img{
    width: 30%;
    height: 95%;
    background: url("./img/intern1.png");
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    border: 10px solid #0DB75F;
}
.intern-two-paragraph{
    width: 50%;
    height: 95%;
    text-align: center;
}
.intern-one-paragraph span{
    color: #0DB75F;
}
.intern-two-paragraph span{
    color: #0DB75F;
}

@keyframes about_move1{
    0%{
          transform: translateX(-50%);
          opacity: 0;
    }
    100%{
         transform: translateX(0);
         opacity: 1;
    }
}

@keyframes about_move2{
    0%{
          transform: translateX(50%);
          opacity: 0;
    }
    100%{
         transform: translateX(0);
         opacity: 1;
    }
}




/* project section */


.peoject-section{
    height: 16%;
    display: flex;
    flex-direction: column;
    padding: 3%;
    align-items: center;
    justify-content: space-around;
}
.project-title{
    color: #0DB75F;
    font-size: 1.7rem;
}
.peoject-section:hover .project-title{
    animation: trans 1s linear;
}
.project_container{
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    gap: 2%;
    align-items: center;
    justify-content: space-around;
}
.projects{
    width: 23%;
    height: 40%;
    background-color: #b70dac;
}
.project-btn{
    width:10%;
    height: 8%;
    border: none;
    background-color: #0DB75F;
    border-radius: 5px;
    font-size: 1.2rem;
    color: white;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.263);
}
.project-btn:hover{
    border: 3px solid #0DB75F;
    background-color: white;
    color:#2E2F2E;
    transition: 0.50s ease-in-out;

}
.pro-one {
    background: url("./img/project1.png");
    background-position: center;
    background-size: cover;
    border: 5px solid #0DB75F;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.peoject-section:hover .pro-one{
    animation: project_ani1 1s linear;
}
.pro-one p{
    opacity: 0;
}

.pro-one:hover p{
    background-color: #0DB75F;
    color: white;
    padding: 7px 15px;
    opacity: 1;
    border-radius: 5px;
    transition: 0.45s ease-in-out;
    
}
.pro-two{
    background: url("./img/project2.png");
    background-position: center;
    background-size: cover;
    border: 5px solid #0DB75F;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.peoject-section:hover .pro-two{
    animation: project_ani1 1s linear;
}
.pro-two p{
    opacity: 0;
}

.pro-two:hover p{
    background-color: #0DB75F;
    color: white;
    padding: 7px 15px;
    opacity: 1;
    border-radius: 5px;
    transition: 0.45s ease-in-out;
    
}


.pro-three{
    background: url("./img/project3.png");
    background-position: center;
    background-size: cover;
    border: 5px solid #0DB75F;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.peoject-section:hover .pro-three{
    animation: project_ani1 1s linear;
}
.pro-three p{
    opacity: 0;
}

.pro-three:hover p{
    background-color: #0DB75F;
    color: white;
    padding: 7px 15px;
    opacity: 1;
    border-radius: 5px;
    transition: 0.45s ease-in-out;
    
}
.pro-four{
    background: url("./img/project4.png");
    background-position: center;
    background-size: cover;
    border: 5px solid #0DB75F;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.peoject-section:hover .pro-four{
    animation: project_ani1 1s linear;
}
.pro-four p{
    opacity: 0;
}

.pro-four:hover p{
    background-color: #0DB75F;
    color: white;
    padding: 7px 15px;
    opacity: 1;
    border-radius: 5px;
    transition: 0.45s ease-in-out;
    
}


.pro-five{
    background: url("./img/project5.png");
    background-position: center;
    background-size: cover;
    border: 5px solid #0DB75F;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.peoject-section:hover .pro-five{
    animation: project_ani2 1s linear;
}
.pro-five p{
    opacity: 0;
}

.pro-five:hover p{
    background-color: #0DB75F;
    color: white;
    padding: 7px 15px;
    opacity: 1;
    border-radius: 5px;
    transition: 0.45s ease-in-out;
    
}


.pro-six{
    background: url("./img/project6.png");
    background-position: center;
    background-size: cover;
    border: 5px solid #0DB75F;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.peoject-section:hover .pro-six{
    animation: project_ani2 1s linear;
}
.pro-six p{
    opacity: 0;
}

.pro-six:hover p{
    background-color: #0DB75F;
    color: white;
    padding: 7px 15px;
    opacity: 1;
    border-radius: 5px;
    transition: 0.45s ease-in-out;
    
}


.pro-seven{
    background: url("./img/project7.png");
    background-position: center;
    background-size: cover;
    border: 5px solid #0DB75F;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.peoject-section:hover .pro-seven{
    animation: project_ani2 1s linear;
}
.pro-seven p{
    opacity: 0;
}

.pro-seven:hover p{
    background-color: #0DB75F;
    color: white;
    padding: 7px 15px;
    opacity: 1;
    border-radius: 5px;
    transition: 0.45s ease-in-out;
    
}


.pro-eight{
    background: url("./img/project8.png");
    background-position: center;
    background-size: cover;
    border: 5px solid #0DB75F;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}
.peoject-section:hover .pro-eight{
    animation: project_ani2 1s linear;
}
.pro-eight p{
    opacity: 0;
}

.pro-eight:hover p{
    background-color: #0DB75F;
    color: white;
    padding: 7px 15px;
    opacity: 1;
    border-radius: 5px;
    transition: 0.45s ease-in-out;
    
}
@keyframes project_ani1{
    0%{
        opacity: 0;
        transform: translateY(-100%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes project_ani2{
    0%{
        opacity: 0;
        transform: translateY(100%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}





/* certificate section */



.certificate-section{
    height: 16%;
    display: flex;
    flex-direction: column;
    padding: 3%;
    align-items: center;
    justify-content: space-around;
}
.certificate-title{
    color: #0DB75F;
    font-size: 1.7rem;
}
.certificate-section:hover .certificate-title{
    animation: trans 1s linear;
}
.certificate_container{
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    gap: 2%;
    align-items: center;
    justify-content: space-around;
}
.certificate{
    width: 23%;
    height: 40%;
    background-color: #b70dac;
}
.certificate-btn{
    width:10%;
    height: 8%;
    border: none;
    background-color: #0DB75F;
    border-radius: 5px;
    font-size: 1.2rem;
    color: white;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.263);
}
.certificate-btn:hover{
    border: 3px solid #0DB75F;
    background-color: white;
    color:#2E2F2E;
    transition: 0.50s ease-in-out;

}
.cert-one {
    background: url("./img/certi1.png");
    background-position: center;
    background-size: cover;
    border: 5px solid #0DB75F;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.certificate-section:hover .cert-one{
    animation: certificate_ani1 1s linear;
}
.cert-one p{
    opacity: 0;
}

.cert-one:hover p{
    background-color: #0DB75F;
    color: white;
    padding: 7px 15px;
    opacity: 1;
    border-radius: 5px;
    transition: 0.45s ease-in-out;
    
}

.cert-two {
    background: url("./img/certi2.png");
    background-position: center;
    background-size: cover;
    border: 5px solid #0DB75F;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.certificate-section:hover .cert-two{
    animation: certificate_ani1 1s linear;
}
.cert-two p{
    opacity: 0;
}

.cert-two:hover p{
    background-color: #0DB75F;
    color: white;
    padding: 7px 15px;
    opacity: 1;
    border-radius: 5px;
    transition: 0.45s ease-in-out;
    
}

.cert-three{
    background: url("./img/certi3.png");
    background-position: center;
    background-size: cover;
    border: 5px solid #0DB75F;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.certificate-section:hover .cert-three{
    animation: certificate_ani2 1s linear;
}
.cert-three p{
    opacity: 0;
}

.cert-three:hover p{
    background-color: #0DB75F;
    color: white;
    padding: 7px 15px;
    opacity: 1;
    border-radius: 5px;
    transition: 0.45s ease-in-out;
    
}
.cert-four{
    background: url("./img/certi4.png");
    background-position: center;
    background-size: cover;
    border: 5px solid #0DB75F;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.certificate-section:hover .cert-four{
    animation: certificate_ani2 1s linear;
}
.cert-four p{
    opacity: 0;
}

.cert-four:hover p{
    background-color: #0DB75F;
    color: white;
    padding: 7px 15px;
    opacity: 1;
    border-radius: 5px;
    transition: 0.45s ease-in-out;
    
}


.cert-five{
    background: url("./img/certi5.png");
    background-position: center;
    background-size: cover;
    border: 5px solid #0DB75F;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.certificate-section:hover .cert-five{
    animation: certificate_ani1 1s linear;
}
.cert-five p{
    opacity: 0;
}

.cert-five:hover p{
    background-color: #0DB75F;
    color: white;
    padding: 7px 15px;
    opacity: 1;
    border-radius: 5px;
    transition: 0.45s ease-in-out;
    
}


.cert-six{
    background: url("./img/certi6.png");
    background-position: center;
    background-size: cover;
    border: 5px solid #0DB75F;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.certificate-section:hover .cert-six{
    animation: certificate_ani1 1s linear;
}
.cert-six p{
    opacity: 0;
}

.cert-six:hover p{
    background-color: #0DB75F;
    color: white;
    padding: 7px 15px;
    opacity: 1;
    border-radius: 5px;
    transition: 0.45s ease-in-out;
    
}


.cert-seven{
    background: url("./img/certi7.png");
    background-position: center;
    background-size: cover;
    border: 5px solid #0DB75F;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.certificate-section:hover .cert-seven{
    animation: certificate_ani2 1s linear;
}
.cert-seven p{
    opacity: 0;
}

.cert-seven:hover p{
    background-color: #0DB75F;
    color: white;
    padding: 7px 15px;
    opacity: 1;
    border-radius: 5px;
    transition: 0.45s ease-in-out;
    
}


.cert-eight{
    background: url("./img/certi8.png");
    background-position: center;
    background-size: cover;
    border: 5px solid #0DB75F;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}
.certificate-section:hover .cert-eight{
    animation: certificate_ani2 1s linear;
}
.cert-eight p{
    opacity: 0;
}

.cert-eight:hover p{
    background-color: #0DB75F;
    color: white;
    padding: 7px 15px;
    opacity: 1;
    border-radius: 5px;
    transition: 0.45s ease-in-out;
    
}
@keyframes certificate_ani1{
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes certificate_ani2{
    0%{
        opacity: 0;
        transform: translateX(100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}












.footer-section{
    height: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0DB75F;
    justify-content: center;

}
.footer-link{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2%;
}
.footer-link i{
   font-size: 1.6rem;
}
.footer-link i:hover{
    color: white;
    transition: 0.45s ease-in-out;
    cursor: pointer;
}
.redirct{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.redirct p a{
    text-decoration: none;
    font-size: 1.2rem;
    color: #2E2F2E;
}
.redirct p a:hover{
    color: white;
    transition: 0.45s ease-in-out;
}
.redirct p span{
    color:#2E2F2E ;
}
.end{
    color: #2E2F2E;
}